
@mixin ThreeColorGradient($color1, $color2, $color3){
    background-color: $color1;
    background-image: -webkit-gradient(
        linear, 
        left top, 
        left bottom, 
        color-stop(0%, $color1), color-stop(50%, $color2), 
        color-stop(100%, $color3));
    background-image: -webkit-linear-gradient(top, $color1 0%, $color2 50%, $color3 100%);
    background-image: -moz-linear-gradient(top, $color1 0%, $color2 50%, $color3 100%);
    background-image: -ms-linear-gradient(top, $color1 0%, $color2 50%, $color3 100%);
    background-image: -o-linear-gradient(top, $color1 0%, $color2 50%, $color3 100%);
    background-image: linear-gradient(top, $color1 0%, $color2 50%, $color3 100%);
    -pie-background: linear-gradient(top, $color1, $color2, $color3);
    behavior: url(css/PIE.htc);
}


/* two color gradient */
@mixin TwoColorGradient($color1, $color2){
    background-color: $color1;
    background:   -webkit-gradient(
        linear, left top, 
        left bottom, 
        color-stop(0%, $color1), 
        color-stop(100%, $color2));
        background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
        background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
        background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
        background: -o-linear-gradient(top, $color1 0%, $color2 100%);
        background: linear-gradient(top, $color1 0%, $color2 100%);
        -pie-background: linear-gradient(top, $color1, $color2);
        behavior: url(css/PIE.htc);
}


@mixin rndCorners($rnd){
    -moz-border-radius:$rnd;
    -webkit-border-radius:$rnd;
    border-radius:$rnd;
    behavior: url(css/PIE.htc);
}

@mixin setBorder($brdr, $bRadius){
    border: $brdr;
    @include rndCorners($bRadius);
}


@mixin dropShadow($color){
    $horiz: -6px;
    $vert: 7px;
    $blur: 2px;
    $spread: -1px;
    $imgShadowColor: $color;

    box-shadow:$horiz $vert $blur $spread $imgShadowColor;
    -moz-box-shadow:$horiz $vert $blur $spread $imgShadowColor;
    -webkit-box-shadow:$horiz $vert $blur $spread $imgShadowColor;
    behavior: url(css/PIE.htc);
}